<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches?'over':'side'" disableClose="true" [opened]="!mobileQuery.matches" class="example-side-nav">
      <div style="float: right" *ngIf="mobileQuery.matches">
        <button mat-icon-button (click)="snav.toggle()">
          <img  src="assets/menu.svg" alt="menu">
        </button>
      </div>
      <mat-nav-list class="nav-list">
        <a mat-list-item *ngFor="let nav of routerLinks" routerLinkActive="active"  routerLink="{{nav.path}}">
            {{nav.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <div class="sidenav-div">
        <div *ngIf="mobileQuery.matches" class="button-menu">
          <button mat-icon-button (click)="snav.toggle()">
            <img  src="assets/menu.svg" alt="menu">
          </button>
        </div>
        <div class="routerdata">
          <router-outlet (activate)="ActivetedRouter($event)"></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
