

<div class="main-movie" *ngIf="$movieDetails | async as movie">
  <div class="movie-title">
      <p class="title">{{movie.title}}</p>
    </div>
    <span class="tag-line">{{ movie.original_title }}</span>
    <p class="tag-line">{{movie.tagline}}</p>
  <div class="main-poster row justify-content-center" >
      <img class="poster poster-img" [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500'+movie.poster_path : 'assets/no_poster.jpg'" alt="">
  </div>
  <div class="movie-title">

    <div class="languages">
      Languages : <span *ngFor="let lang of movie.spoken_languages"> {{lang.name}} </span>
    </div>
    <span class="extra-space"></span>
    <p class="languages rating-num">
      Rating: {{movie.vote_average}}
    </p>
    <img class="title-link" src="assets/star.png" alt="">
  </div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <div>
    <p class="overview">
        {{movie.overview}}
    </p>
  </div>
  <ng-container *ngIf="movie?.backdrop_path">
    <img class="poster last" [src]="'https://image.tmdb.org/t/p/w500'+movie.backdrop_path" alt="">
  </ng-container>
  <!-- {{$video | async | json}} -->
  <ng-container *ngFor="let video of movie.videos?.results">
    <div class="videoWrapper">
      <iframe class="video"
        [src]="getVideo(video)">
      </iframe>
    </div>
  </ng-container>
</div>