<div class="main-movie" *ngIf="$movieDetails | async as movie">
  <div class="movie-title">
    <p class="title">{{movie.title}}</p>
  </div>
  <span class="tag-line">{{ movie.original_title }}</span>
  <p class="tag-line">{{movie.tagline}}</p>
  <div class="main-poster row justify-content-center">
    <img class="poster poster-img"
      [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500'+movie.poster_path : 'assets/no_poster.jpg'" alt="">
  </div>
  <div class="movie-title">

    <div class="languages">
      Languages : <span *ngFor="let lang of movie.spoken_languages"> {{lang.name}} </span>
    </div>
    <span class="extra-space"></span>
    <p class="languages rating-num">
      Rating: {{movie.vote_average}}
    </p>
    <img class="title-link" src="assets/star.png" alt="">
  </div>
  <div class="row flex-wrap">
    <button *ngFor="let genre of movie.genres" class="chip-btn">{{ genre.name }}</button>
  </div>
  <div class="row overflow-auto">
    <!-- <img [src]="cast.profile_path" alt=""> -->
    <img *ngFor="let cast of ($cast | async)?.cast"
      class="cast-img"
      [src]="cast.profile_path ? 'https://image.tmdb.org/t/p/w500'+cast.profile_path : 'assets/account_dp.svg'"
      alt="cast images"
      [matTooltip]="cast?.name"
    >
  </div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <div>
    <p class="overview">
      {{movie.overview}}
    </p>
  </div>
  <ng-container *ngIf="movie?.backdrop_path">
    <img class="poster last" [src]="'https://image.tmdb.org/t/p/w500'+movie.backdrop_path" alt="">
  </ng-container>
  <!-- {{$video | async | json}} -->
  <ng-container *ngFor="let video of movie.videos?.results">
    <div class="videoWrapper">
      <iframe class="video" [src]="'https://www.youtube.com/embed/'+video.key | video" frameborder="0"
        allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
  </ng-container>
  <div class="movie-title">
    <p class="title">Similar Movies</p>
  </div>
</div>
<app-movie [Movies]="$similarMovies" (pages)="nextOrPreviousPage($event)" [MovieClassName]="routeName"></app-movie>