<!-- {{$popularMovies | async | json }} -->
<div *ngIf="$popularMovies | async  as popularMovies">
  <div class="movies" fxLayout="row" fxLayoutAlign="space-around stretch">
    <mat-card class="example-card" *ngFor="let movie of popularMovies.results">
        <img mat-card-image src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-image" alt="Photo of a Shiba Inu">
        <mat-card-content class="card-content">
          <span class="movie-title">{{movie.title}}</span>
        </mat-card-content>
      </mat-card>
  </div>
  <mat-toolbar class="paginator">
      <mat-toolbar-row>
        <span class="example-spacer"></span>
        <span>page</span>&nbsp;&nbsp;{{popularMovies.page}} of {{popularMovies.total_pages}}
        <button mat-icon-button (click)="pageChange(popularMovies.page-1)" [disabled]="popularMovies.page == 1">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button (click)="pageChange(popularMovies.page+1)" [disabled]="popularMovies.total_pages == popularMovies.page">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">keyboard_arrow_right</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
</div>